.block_morsle table {
background-color: #e3e9ff;
}

.block_morsle table.morslefull {
	align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.block_morsle td {
/*	margin: 0px;
	padding: 0px;
*/
}
.block_morsle td.morslefiles {
/*	padding-left: 8px;*/
}

.block_morsle td.morsleleft {
	margin-left: 15px;
}

.block_morsle td.morsleright {
	margin-left: 15px; 
}

.block_morsle td.calendar {
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.block_morsle .logo {
	width: 257px; /*180px;*/
	height: auto;
}
.block_morsle form {
	display: inline;
}

.block_morsle .button {
	background-color:#ffaa00;
	font-size: .9em;
	align: left;
	cursor:pointer;
	cursor:hand;
}
